Projecto_Final_PG4.Presentacion/Connected Services/SRComunicacionPersona/PrimerServicio1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64676/Implementacion/PrimerServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Projecto_Final_PG4.ComunicacionSApp" />
  <xs:element name="InsertarPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Projecto_Final_PG4.ComunicacionSApp" minOccurs="0" name="persona" nillable="true" type="q1:PersonaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarPersonaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Projecto_Final_PG4.ComunicacionSApp" minOccurs="0" name="persona" nillable="true" type="q2:PersonaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarPersonaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPersonaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPersonaID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPersonaIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Projecto_Final_PG4.ComunicacionSApp" minOccurs="0" name="ObtenerPersonaIDResult" nillable="true" type="q3:PersonaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Projecto_Final_PG4.ComunicacionSApp" minOccurs="0" name="ObtenerTodosResult" nillable="true" type="q4:PersonaDTO.ListaPersonas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarAutoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Projecto_Final_PG4.ComunicacionSApp" minOccurs="0" name="cliente" nillable="true" type="q5:AutoClienteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarAutoClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarAutoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Projecto_Final_PG4.ComunicacionSApp" minOccurs="0" name="cleinte" nillable="true" type="q6:AutoClienteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarAutoClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAutoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAutoClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAutoClienteID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAutoClienteIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Projecto_Final_PG4.ComunicacionSApp" minOccurs="0" name="ObtenerAutoClienteIDResult" nillable="true" type="q7:AutoClienteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTodosClientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTodosClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Projecto_Final_PG4.ComunicacionSApp" minOccurs="0" name="ObtenerTodosClientesResult" nillable="true" type="q8:AutoClienteDTO.ListaAutoCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Projecto_Final_PG4.ComunicacionSApp" minOccurs="0" name="servicio" nillable="true" type="q9:ServiciosDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarServicioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Projecto_Final_PG4.ComunicacionSApp" minOccurs="0" name="servicio" nillable="true" type="q10:ServiciosDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarServicioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarServicioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerServicioID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerServicioIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Projecto_Final_PG4.ComunicacionSApp" minOccurs="0" name="ObtenerServicioIDResult" nillable="true" type="q11:ServiciosDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTodosServicio">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTodosServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Projecto_Final_PG4.ComunicacionSApp" minOccurs="0" name="ObtenerTodosServicioResult" nillable="true" type="q12:ServiciosDTO.ListaServicios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>